p{
    color: gray;
}
.button{
    border: none;
    border-radius: 10px;
    padding: 9px 15px 9px 15px;
    color: white;
    background-color: black;
}
.col-sm-6{
    padding-left:80px ;
    padding-right: 40px;
}
.top{
    background-image: url("bg-1.png");
    background-repeat:no-repeat;
    background-position: 50%;
    background-size: 5%;
}
.bg{
    background-image: url("bg-2.png");
    background-position:bottom left;
    background-size: 10%;
    background-repeat: no-repeat;
}
.nv{
    background-color:white;
}
.container{
    padding-bottom: 10px;
}
.see{
    text-decoration: none;
    color: orangered;
}
.card img{
    height:200px ;
    width:200px ;
}
.card{
    border: none;
    box-shadow: 10px 20px 30px lightgray;
    border-radius: 20px;
    padding-top: 20px;
}
.but{
    margin-left: 115px;
    margin-top:30px ;
    margin-bottom: 30px;
}
.card-body h5,p{
    text-align: center;
}
.width{
    width:370px;
}
.card-img-top{
    margin-left: 80px;
    margin-top: 20px;
}
.mid{
    margin-top: 60px;
}
